---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';

const seo = {
  title: 'Bienvenue chez Sezon',
  description: 'Retrouvez notre foodtruck entre Nantes et Ancenis.',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h2 class="fade-in">Foodtruck entre Ancenis et Nantes</h1>
      <p class="fade-in">🚧 Site en construction</p>
      <!-- <SignupForm /> -->
      <!-- add blank space here -->
      <br/>
      <br/>
      <p>📞 <a href="tel:06.49.55.01.52">06.49.55.01.52</a></p>
      <p>📧 <a href="mailto:bonjour@sezon.fr">bonjour@sezon.fr</a></p>
      <div>
    </article>
  </Container>
</Layout>

